body{
    text-align: center;
}

#bulb
{
    width:200px;
}

button{
    height: 50px;
    width: 100px;
    background-color: cornsilk;
    color: black;
}

button:hover{
    cursor: pointer;
    background-color:wheat;
    
}